# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing & coverage
/coverage

# next.js build outputs
/.next/
/out/
/build
/dist

# misc OS and debug files
.DS_Store
Thumbs.db
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment secrets and credentials
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Vercel & Turbo
.vercel
.turbo

# TypeScript
*.tsbuildinfo
next-env.d.ts
